<h1 class="text-center"><%= @user.username%>'s profile</h1>

<div class="text-center">
    <% if logged_in? %> 
        <% if @user == current_user  %>
        <%= link_to 'Edit your profile', edit_user_path(@user), class:"btn btn-outline-info" %>
        <%end%>
        <% if current_user.admin%>
            <%= button_to "Delete user", user_path(@user),class:"btn btn-outline-danger", method: :delete, 
            data: {confirm: "Are you sure to delete the user?"} %>
        <%end%>
    <% end %>
</div>
<h3 class="text-center">Articles</h3>

<%= render 'articles/article' %>
