<h1 class="text-center">Edit category name</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
          <%= render 'form'%>
             <%= link_to '[Cancel and return to categories]', @category, class:"text-info" %>
        </div>
    </div>
</div>
